In [1]:
import pandas as pd
import datetime
import numpy as np
import os

In [2]:
filepath12 = os.path.join("../Resources" ,"JC-201912-citibike-tripdata.csv")
filepath1 = os.path.join("../Resources" ,"JC-201901-citibike-tripdata.csv")
filepath2 = os.path.join("../Resources" ,"JC-201902-citibike-tripdata.csv")
filepath3 = os.path.join("../Resources" ,"JC-201903-citibike-tripdata.csv")
filepath4 = os.path.join("../Resources" ,"JC-201904-citibike-tripdata.csv")
filepath5 = os.path.join("../Resources" ,"JC-201905-citibike-tripdata.csv")
filepath6 = os.path.join("../Resources" ,"JC-201906-citibike-tripdata.csv")
filepath7 = os.path.join("../Resources" ,"JC-201907-citibike-tripdata.csv")
filepath8 = os.path.join("../Resources" ,"JC-201908-citibike-tripdata.csv")
filepath9 = os.path.join("../Resources" ,"JC-201909-citibike-tripdata.csv")
filepath10 = os.path.join("../Resources" ,"JC-201910-citibike-tripdata.csv")
filepath11 = os.path.join("../Resources" ,"JC-201911-citibike-tripdata.csv")

Citibike_Jan = pd.read_csv(filepath1)
Citibike_Feb = pd.read_csv(filepath2)
Citibike_Mar = pd.read_csv(filepath3)

In [3]:
Citibike_Jan.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [4]:
Citibike1 = pd.concat([Citibike_Jan,Citibike_Feb,Citibike_Mar])

In [5]:
Citibike_Apr = pd.read_csv(filepath4)
Citibike_May = pd.read_csv(filepath5)
Citibike_Jun = pd.read_csv(filepath6)

In [6]:
Citibike2 = pd.concat([Citibike_Apr,Citibike_May,Citibike_Jun])

In [7]:
Citibike_Jul = pd.read_csv(filepath7)
Citibike_Aug = pd.read_csv(filepath8)
Citibike_Sep = pd.read_csv(filepath9)

In [8]:
Citibike3 = pd.concat([Citibike_Jul,Citibike_Aug,Citibike_Sep])

In [9]:
Citibike_Oct = pd.read_csv(filepath10)
Citibike_Nov = pd.read_csv(filepath11)
Citibike_Dec = pd.read_csv(filepath12)

In [10]:
Citibike4 = pd.concat([Citibike_Oct,Citibike_Nov,Citibike_Dec])

In [11]:
Citibike1.to_csv("Citibike1.csv")
Citibike2.to_csv("Citibike2.csv")
Citibike3.to_csv("Citibike3.csv")
Citibike4.to_csv("Citibike4.csv")
Citibike4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,892,2019-10-01 00:20:05.0140,2019-10-01 00:34:57.3800,3275,Columbus Drive,40.718355,-74.038914,3280,Astor Place,40.719282,-74.071262,29544,Subscriber,1976,1
1,374,2019-10-01 00:43:48.8790,2019-10-01 00:50:03.8190,3211,Newark Ave,40.721525,-74.046305,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,29536,Subscriber,1984,1
2,170,2019-10-01 01:35:51.8630,2019-10-01 01:38:42.5470,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,26304,Subscriber,1986,1
3,946,2019-10-01 02:55:53.4000,2019-10-01 03:11:40.2710,3272,Jersey & 3rd,40.723332,-74.045953,3679,Bergen Ave,40.722104,-74.071455,29496,Customer,1969,0
4,517,2019-10-01 03:10:16.1290,2019-10-01 03:18:53.6350,3206,Hilltop,40.731169,-74.057574,3210,Pershing Field,40.742677,-74.051789,26205,Subscriber,1969,1

In [12]:
Citibike_2019 = pd.concat([Citibike1,Citibike2,Citibike3,Citibike4])

In [13]:
Citibike_2019.to_csv("Citibike_2019.csv")